/overlays/examples/heimdallr/binary_container_1/
/overlays/examples/heimdallr/packaged_kernel_DPUCZDX8G_hw_mpsoc/
/overlays/examples/heimdallr/packaged_kernel_corr_hw_mpsoc/
/overlays/examples/heimdallr/tmp_kernel_pack_DPUCZDX8G_hw_mpsoc/
/overlays/examples/heimdallr/tmp_kernel_pack_corr_hw_mpsoc/